{% extends 'partials/_layout' %}
{% block content %}
   	<div id="fullpage">

	{% include "components/_headerMobile" %}

	{% set props = {
		components: entry.componentMatrix
	}%}
	{% include 'components/_componentMatrix' with props %}

	</div>
{% endblock %}